*~
*.kdev4
.cproject
.project
*.pyc
*build_info.h
config.h
build/
docs/
*.kate-swp
*.o
autom4te.cache

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

